<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.gymreservation</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>REPLACE_WITH_FULL_PATH_TO_SCRIPT/gym_reservation.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>REPLACE_WITH_FULL_PATH_TO_DIRECTORY</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>REPLACE_WITH_FULL_PATH_TO_DIRECTORY/gym_reservation.log</string>
    
    <key>StandardErrorPath</key>
    <string>REPLACE_WITH_FULL_PATH_TO_DIRECTORY/gym_reservation_error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist> 